h1{
    color: black;
    text-align: -webkit-center;
margin-top: 40px;
margin-right: 835px;
font-size: 270%;
margin-bottom: -20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.imagen1{ 
    width: 80%;
    height: 300px;
    
    margin-left: 80px;


}

.nav{
    margin-left: 1040px;
    width: 35%;
   margin-top: 0px;
   height: -20px;
    transform: translate(0,13px);
}

    
    .h_2{
        color: white;
        text-align: center;
        margin-top: -10px;
        width: 80%;
        margin-left: 80px;
        background-color: rgb(36, 35, 35);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    }
    .logo{
        display: flex;
        
    align-items: center;
    margin-left: 80px;
        
        
        
        
    }

    .parrafos{

        display: inline-block;
        vertical-align: middle;
    }

    


    a{
        background-color: #297bdc;
        padding: 0px;
        color: white;
        border-radius: 3px;
        text-decoration: none;
        font-size: 20px;
        margin-right: 5px;
        

    }
    a:hover{
        background-color: green;
    }

    .derechos{
        margin-left: 550px;
    }
    
   