h1{
    color: black;
    text-align: -webkit-center;
margin-top: 40px;
margin-right: 851.3px;
font-size: 270%;
margin-bottom: -20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}.imagen3{ 
    width: 79.1%;
    height: 300px;
    
    margin-left: 80px;

}

    

.navC{
    margin-left: 1040px;
    width: 35%;
    transform: translate(0,13px);
    
}

.h_2{
    color: white;
    text-align: center;
    margin-top: -10px;
    width: 79.1%;
    margin-left: 80px;
    background-color: rgb(36, 35, 35);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 25px;
}


.logo2{
    margin-left: 80px;
    display: flex;
    align-items: center;

}

.parrafos3{
    display: inline-block;
    vertical-align: middle;

}

a{
    background-color: #297bdc;
    padding: 0px;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;




}

a:hover{
    background-color: green;
}
   .copyright{
       margin-left: 550px;
   } 

